.projectDetails {
    &__image {
        width: 100%;
        padding: 1rem;
    }
    &__title {
        text-align: center;
    }
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    &__back,
    &__home {
        background-color: red;
        border: none;
        outline: none;
        color: white;
        width: 75px;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }
    &__home {
        background-color: yellow;
        color: black;
    }
}